* {
  font-family: 'Maven Pro', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 7px;
  background: rgba(255, 254, 254, 0);
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #555;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/* animation keyframes */

@keyframes menu-in {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menu-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes error-msg-appear {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes name-entrance {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes subtext-entrance {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}