/* homepage */

.flex {
  display: flex;
}

.content {
  background:
    linear-gradient(135deg, rgba(255, 255, 255, 0.644), rgba(255, 255, 255, 0.76)),
    url(../../public/background_images/bckgrnd.jpg);
  background-size: cover;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.name {
  font-size: 5rem;
}

.subtext {
  font-size: 2.5rem;
}

.msg {
  margin-top: 5rem;
  font-size: 1.2rem;
}

.animation {
  animation: subtext-entrance 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}